#!/bin/sh
{{- $fcitx5_rime_sync := includeTemplate "fcitx5-rime-sync.yaml.tmpl" . | fromYaml -}}
{{- if not (stat $fcitx5_rime_sync.target_path) }}
exit 0
{{- else }}
set -eu
# run on this change: {{ output "sh" "-c" "curl -fsSL 'https://JWtlXYH8eujeKSEx.public.blob.vercel-storage.com/bucket/fcitx5-rime-sync.tar.asc.hash' || true" }}

TARGET_PATH={{ printf "%q" $fcitx5_rime_sync.target_path }}
TMP_TAR_FILE="$(mktemp)"
TMP_ENCRYPTED_TAR_FILE="$(mktemp)"
{{ template "chezmoi-blob.sh.tmpl" . }}
trap 'rm -f "$TMP_TAR_FILE" "$TMP_ENCRYPTED_TAR_FILE"' EXIT HUP INT TERM

# Pull from chezmoi-blob
REMOTE_KEY=fcitx5-rime-sync.tar.asc
chezmoi_blob \
  get \
  "$REMOTE_KEY" \
  "$TMP_ENCRYPTED_TAR_FILE" \
|| echo "pull-fcitx5-rime-sync: failed to pull file from chezmoi-blob, skip" && exit 0

chezmoi decrypt --output "$TMP_TAR_FILE" "$TMP_ENCRYPTED_TAR_FILE"
{{- if not $fcitx5_rime_sync.in_termux }}
tar -x -f "$TMP_TAR_FILE" -C "$TARGET_PATH"
{{- else }}
sudo tar -x -f "$TMP_TAR_FILE" -C "$TARGET_PATH"
sudo chown -R u0_a884:ext_data_rw "$TARGET_PATH"
{{- end }}

echo "pull-fcitx5-rime-sync: finished!"
{{- end }}
