{{- $in_termux := env "TERMUX__PREFIX" | not | not -}}
{{- $target_path := joinPath .chezmoi.homeDir ".var/app/org.fcitx.Fcitx5/data/fcitx5/rime/sync" -}}
{{- if $in_termux -}}
  {{- $target_path = "/storage/emulated/0/Android/data/org.fcitx.fcitx5.android/files/data/rime/sync" -}}
{{- end -}}
#!/bin/sh
set -eu

TARGET_PATH={{ printf "%q" $target_path }}
TMP_TAR_FILE="$(mktemp)"
TMP_ENCRYPTED_TAR_FILE="$(mktemp)"
{{ template "chezmoi-blob.sh.tmpl" . }}
trap 'rm -f "$TMP_TAR_FILE" "$TMP_ENCRYPTED_TAR_FILE"' EXIT HUP INT TERM

# Pull from chezmoi-blob
REMOTE_KEY=fcitx5-rime-sync.tar.asc

chezmoi_blob \
  get \
  "$REMOTE_KEY" \
  "$TMP_ENCRYPTED_TAR_FILE" \
|| echo "pull-fcitx5-rime-sync: failed to pull file from chezmoi-blob, skip"

chezmoi decrypt --output "$TMP_TAR_FILE" "$TMP_ENCRYPTED_TAR_FILE"
{{- if not $in_termux }}
tar -x -f "$TMP_TAR_FILE" -C "$TARGET_PATH"
{{- else }}
sudo tar -x -f "$TMP_TAR_FILE" -C "$TARGET_PATH"
sudo chown -R u0_a884:ext_data_rw "$TARGET_PATH"
{{- end }}

echo "pull-fcitx5-rime-sync: finished!"
