{{- $in_termux := env "TERMUX__PREFIX" | not | not -}}
{{- $target_path := joinPath .chezmoi.homeDir ".var/app/org.fcitx.Fcitx5/data/fcitx5/rime/sync" -}}
{{- if $in_termux -}}
  {{- $target_path = "/storage/emulated/0/Android/data/org.fcitx.fcitx5.android/files/data/rime/sync" -}}
{{- end -}}
{{- $trigger_probe_cmd := printf "set -eu\nif [ ! -d %q ]; then printf missing; exit 0; fi\ncd %q\nfind . -type f -print0 | LC_ALL=C sort -z | xargs -0 git hash-object | git hash-object --stdin\n" $target_path $target_path -}}
{{- if $in_termux -}}
  {{- $trigger_probe_cmd = printf "set -eu\nif ! sudo test -d %q; then printf missing; exit 0; fi\nsudo sh -c \"cd '%s' && find . -type f -print0 | LC_ALL=C sort -z | xargs -0 git hash-object | git hash-object --stdin\"\n" $target_path $target_path -}}
{{- end -}}
#!/bin/sh
set -eu

# run on this change: {{ output "sh" "-c" $trigger_probe_cmd | trim }}

TARGET_PATH={{ printf "%q" $target_path }}
TMP_TAR_FILE="$(mktemp)"
TMP_ENCRYPTED_TAR_FILE="$(mktemp)"
{{ template "chezmoi-blob.sh.tmpl" . }}
trap 'rm -f "$TMP_TAR_FILE" "$TMP_ENCRYPTED_TAR_FILE"' EXIT HUP INT TERM

{{- if not $in_termux }}
tar -c -f "$TMP_TAR_FILE" -C "$TARGET_PATH" .
{{- else }}
sudo tar -c -f "$TMP_TAR_FILE" -C "$TARGET_PATH" .
{{- end }}
chezmoi encrypt --output "$TMP_ENCRYPTED_TAR_FILE" "$TMP_TAR_FILE"

# Push to chezmoi-blob
REMOTE_KEY=fcitx5-rime-sync.tar.asc

chezmoi_blob \
  put \
  "$TMP_ENCRYPTED_TAR_FILE" \
  "$REMOTE_KEY"

echo "push-fcitx5-rime-sync: finished!"
