#!/bin/sh
{{ $termux := includeTemplate "termux.yaml.tmpl" . | fromYaml }}
{{ $fcitx5_rime_sync := includeTemplate "fcitx5-rime-sync.yaml.tmpl" . | fromYaml }}
{{ $trigger_hash_cmd := printf "find %q -type f -print0 | sort -z | xargs -0 cat" $fcitx5_rime_sync.target_path }}
{{ $trigger_hash := "" }}
{{ if $termux.in_termux }}
  {{ $trigger_hash = output "sudo" "sh" "-c" $trigger_hash_cmd | sha256sum }}
{{ else }}
  {{ $trigger_hash = output "sh" "-c" $trigger_hash_cmd | sha256sum }}
{{ end }}
set -eu
# run on this change: {{ $trigger_hash }}

TRIGGER_HASH={{ printf "%q" $trigger_hash }}
TARGET_PATH={{ printf "%q" $fcitx5_rime_sync.target_path }}
if ! {{ $termux.cmd_prefix }} [ -d "$TARGET_PATH" ]; then
    echo "push-fcitx5-rime-sync: target path does not exist, skipping..."
    exit 0
fi

TMP_TAR_FILE="$(mktemp)"
TMP_ENCRYPTED_TAR_FILE="$(mktemp)"
TMP_TRIGGER_HASH_FILE="$(mktemp)"
{{ template "chezmoi-blob.sh.tmpl" . }}
trap 'rm -f "$TMP_TAR_FILE" "$TMP_ENCRYPTED_TAR_FILE" "$TMP_TRIGGER_HASH_FILE"' EXIT HUP INT TERM

{{ $termux.cmd_prefix }} tar -c -f "$TMP_TAR_FILE" -C "$TARGET_PATH" .
chezmoi encrypt --output "$TMP_ENCRYPTED_TAR_FILE" "$TMP_TAR_FILE"

# push to chezmoi-blob
REMOTE_KEY=fcitx5-rime-sync.tar.asc
chezmoi_blob \
  put \
  "$TMP_ENCRYPTED_TAR_FILE" \
  "$REMOTE_KEY"
echo "$TRIGGER_HASH" > "$TMP_TRIGGER_HASH_FILE"
TRIGGER_HASH_FILE_REMOTE_KEY="$REMOTE_KEY.hash"
chezmoi_blob \
  put \
  "$TMP_TRIGGER_HASH_FILE" \
  "$TRIGGER_HASH_FILE_REMOTE_KEY" \

# after push, mark pull script as "not changed", so it wont override local next time
_pull_tmpl={{ joinPath .chezmoi.sourceDir ".chezmoiscripts" "run_onchange_pull_fcitx5_rime_sync_tar_updated.tmpl" | quote }}
_pull_key={{ joinPath .chezmoi.homeDir ".chezmoiscripts" "pull_fcitx5_rime_sync_tar_updated" | quote }}
_pull_hash=$(chezmoi execute-template < "$_pull_tmpl" | sha256sum | awk '{print $1}')
echo "push-fcitx5-rime-sync: pull script marked as 'not changed', new hash: $_pull_hash"
_pull_value="{\"type\":\"script\",\"contentsSHA256\":\"$_pull_hash\"}"
(
  for _i in $(seq 1 30); do
    if chezmoi state set \
        --bucket entryState \
        --key "$_pull_key" \
        --value "$_pull_value" 2>/dev/null; then
      break
    fi
    sleep 0.3
  done
) &
disown

echo "push-fcitx5-rime-sync: finished!"
