#!/bin/sh
{{ if .isContainers }}
echo "Installing AI Tools..."
command -v claude || curl -fsSL https://claude.ai/install.sh | bash
command -v opencode || curl -fsSL https://opencode.ai/install | bash
{{ end }}
